:root {
  --primary-color: #133247;
  --secondary-color: #f3ae4b;
  --text-color: #ffffff;
  --bg-form-orcamento: #bdd8f1;
  --bg-form-orcamento-container: #68859c;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: #fff;
  overflow-y: auto;
  overflow-x: hidden;
}

.rodape-superior .logo-superior img {
  width: 125px;
  height: 105px;
  display: flex;
  margin-left: 200px;
  justify-content: center;
  align-items: center;


}

.rodape-superior {
  justify-content: space-between;
  background-color: var(--primary-color);
  display: flex;
  color: #fff;
  padding: 0px;
  height: 105px;
  box-sizing: border-box;
}

.rodape-links {
  list-style-type: none;
  display: flex;
  margin-right: 160px;
  margin-top: 15px;
  align-items: center;
  gap: 120px;
  color: #ffffff;
  font-size: 1.0em;
  font-weight: bold;
  white-space: nowrap;
}

.rodape-links a {
  text-decoration: none;
  color: #ffffff;
  position: relative;
  transition: all 0.5s ease;
  transform: translateY(-8px);
}

.rodape-links a:hover {
  color: var(--secondary-color);
  transition: color 0.3s ease;
  cursor: pointer;

}

.nav-link {
  display: inline-flex;
  column-gap: 0.5rem;
}

.main-banner {
  height: 650px;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-banner .imagem {
  background-image: url("/IMAGENS/insMind.jpg");
  background-size: cover;
  background-position: center;
  width: 80%;
  min-width: 500px;
  height: 100%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  background-blend-mode: darken;
}

.main-banner .imagem h1,
.main-banner .imagem p {
  color: #fff;
  font-family: Helvetica;
  text-align: center;
  font-weight: bolder;
  text-shadow: #000 5px 4px 5px;
}

.main-banner .imagem h1 {
  font-size: 54px;
}

.main-banner .imagem p {
  font-size: 32px;
}

.recipiente {
  width: 90%;
  margin: 0 auto;
  max-width: 1100px;
  padding: 20px 0;
  text-align: center;
  flex-wrap: nowrap;
}

#jornada-profissional {
  background-color: #f8f8f8;
  padding: 20px 0;
}

.titulo-jornada-profissional {
  text-align: center;
  font-size: 2.5em;
  color: var(--secondary-color);
  margin-bottom: 50px;
  margin-top: 35px;
}

.recipiente-cartao {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  align-items: stretch;
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;
  width: auto;
  max-width: unset;
  padding: 0;
  text-align: unset;
  flex-direction: row;
}


.recipiente-cartao .cartao-sobre-mim,
.recipiente-cartao .cartao-habilidades,
.recipiente-cartao .cartao-objetivo {
  border-radius: 10px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  width: 340px;
  max-width: 399px;
  height: auto;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease;
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
}


.cabeça-cartao {
  gap: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #08456e;
  color: #fff;
  padding: 15px;
  border-radius: 8px 8px 0 0;
  margin: -20px -20px 20px -20px;
}


.cabeça-cartao img {
  width: 30px;
  height: 30px;
  margin-right: 1px;
}


.recipiente-cartao .cartao-sobre-mim h3,
.recipiente-cartao .cartao-habilidades h3,
.recipiente-cartao .cartao-objetivos h3 {
  font-size: 1.3em;
  margin: 0;
}


.conteudo-cartao {
  flex-grow: 1;
  padding: 1px 0px;
  line-height: 1.4;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


.conteudo-cartao p {
  margin-top: 25px;
  color: #333;
  font-size: 0.95em;
  text-align: left;
  margin-bottom: 0;
  padding: 0 5px;
}

.recipiente-cartao .cartao-sobre-mim:hover,
.recipiente-cartao .cartao-habilidades:hover,
.recipiente-cartao .cartao-objetivo:hover {
  transform: translateY(-5px);
}


.principais-servicos {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
  background-color: #f5f5f5;
}

.titulo-servicos {
  width: 100%;
  padding: 1rem 0;
  background-color: #133247;
  text-align: center;
}

.titulo-servicos h3 {
  font-size: 2rem;
  color: #fd8e0c;
  margin: 0;
}

.principais-servicos .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.container .item-um,
.container .item-dois,
.container .item-tres {
  background-color: #fff;
  width: 340px;
  height: 399px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
}

.container .item-um:hover,
.container .item-dois:hover,
.container .item-tres:hover {
  transform: translateY(-5px);
}

.imagem-fiacao,
.imagem-tomadas-interruptores,
.imagem-quadros-disjuntores {
  height: 220px;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.imagem-fiacao {
  background-image: url("/IMAGENS/fiaçao.jpg");
}

.imagem-tomadas-interruptores {
  background-image: url("/IMAGENS/tomadas-interruptores.jpg");
}

.imagem-quadros-disjuntores {
  background-image: url("/IMAGENS/quadros-disjuntores.jpg");
}

.descricao {
  flex: 1;
  padding: 1rem;
  background-color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 0.5rem;
}

.descricao h4 {
  font-size: 1.1rem;
  color: #000;
  font-weight: bold;
  margin: 0;
}

.descricao p {
  font-size: 0.95rem;
  color: #555;
  margin: 0;
  line-height: 1.4;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
  gap: 60px;
  max-width: 1200px;
  margin: auto;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
}

.aviso {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.aviso h2 {
  color: var(--secondary-color);
}

.aviso p {
  color: #1e3a8a;
  ;
  font-weight: bold;
}

.formulario-box {
  background-color: #e5e7eb;
  padding: 30px;
  border-radius: 12px;
  max-width: 600px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.formulario-box h3 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 22px;
  font-weight: 700;
  color: #1e3a8a;
}

.form-section {
  background: white;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

label {
  display: block;
  margin-top: 15px;
  font-weight: 500;
  text-align: left;
  font-size: 14px;
  color: #1e3a8a;
}

input,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  margin-top: 5px;
  font-size: 14px;
}

.input-duplo {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.input-duplo>div {
  flex: 1 1 45%;
}

.campo-extra {
  display: none;
}

.resultado-box {
  background-color: #fbbf24;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  margin-top: 20px;
  box-shadow: inset 0 -2px 2px rgba(0, 0, 0, 0.1);
}

button {
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  background-color: #f59e0b;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: #d97706;
}

.acoes-btns {
  display: none;
  margin-top: 20px;
  gap: 10px;
}

.acoes-btns.mostrar {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.btn-whatsapp,
.btn-cancelar {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
}

.btn-whatsapp {
  background-color: #25D366;
  color: white;
  text-decoration: none;
  border: none;
}

.btn-cancelar {
  background-color: #ef4444;
  margin-top: 0;
  color: white;
  border: none;
  cursor: pointer;
}

.btn-cancelar:hover {
  background-color: #dc2626;
}

.whatsapp-icon {
  filter: brightness(0) invert(1);
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.rodape-inferior {
  background-color: var(--primary-color);
  height: 444px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  padding: 80px 80px;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 40px;
}

.informações-da-marca {
  flex: 1;
  min-width: 250px;

}

.no-rodape {
  margin-left: 40px;
  text-align: left;
}

.rodape-logo img {
  max-width: 200.59px;
  max-height: 200.09px;

}

.no-rodape .Serviço-Titulo {
  font-size: 1.3em;
  color: var(--secondary-color);
  margin-bottom: 10px;
  font-weight: bold;
}

.no-rodape .desc {
  font-size: 16px;
  color: var(--secondary-color);
  margin-bottom: 10px;
}


.no-rodape .copyright {
  font-size: 14px;
  color: #888;
  margin-top: 20px;
}

.image-linha-vertical1 {
  margin-top: 30px;

}


.Regioes-Atendidas {
  margin-top: 50px;
  margin-bottom: 20px;
  flex: 1;
  align-items: center;

}

.Regioes-Atendidas h3 {
  font-size: 1.3em;
  margin-top: 0px;
  margin-bottom: 20px;
  font-weight: bold;
}

.lista-regioes {
  display: flex;
  flex-direction: column;
}

.lista-regioes img {
  margin-right: 10px;
}

.rodape-inferior ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.rodape-inferior ul li {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 18px;
}

.rodape-inferior ul li img {
  margin-right: 20px;
  font-size: 18px;
}

.rodape-inferior ul li a {
  text-decoration: none;
  color: var(--text-color);
  transition: var(--text-color) 0.3s ease;
}

.rodape-inferior ul li a:hover {
  color: var(--secondary-color);
}

.icone-social img {
  height: 35px;
  width: 35px;
  margin-right: 150px;
}

.Regioes-Atendidas h3 {
  margin-bottom: 35px;
  flex: 1;
  align-items: center;
}

.image-linha-vertical2 {
  margin-top: 30px;
}

.Minhas-redes-sociais {
  margin-top: 50px;
  margin-right: 200px;
}

.Minhas-redes-sociais h4 {
  font-size: 1.3em;
  margin-top: 0px;
  margin-bottom: 50px;
  font-weight: bold;
}

@media (max-width: 1024px) {
  .rodape-superior .logo-superior img {
    margin-left: 50px;
    width: 105px;
    height: 105px;
  }

  .rodape-links {
    margin: 60px 100px 100px;
    gap: 60px;
    font-size: 0.96em;
  }

  .main-banner .imagem {
    width: 90%;
    min-width: unset;
  }

  .main-banner .imagem h1 {
    font-size: 44px
  }

  .main-banner .imagem p {
    font-size: 26px;
  }

  .recipiente {
    padding: 15px 0;
    max-width: 900px;
  }

  .titulo-jornada-profissional {
    font-size: 2.3em;
    margin-bottom: 40px;
  }

  .recipiente-cartao {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0;
    flex-wrap: nowrap;
  }


  .recipiente-cartao .cartao-sobre-mim,
  .recipiente-cartao .cartao-habilidades,
  .recipiente-cartao .cartao-objetivos {
    width: 320px;
    max-width: 339px;
    height: auto;
    padding: 20px;
  }

  .cabeça-cartao {
    gap: 17px;
    padding: 15px;
    margin: -20px -20px 20px -20px;
  }


  .cabeça-cartao img {
    width: 20px;
    height: 20px;
  }


  .cartao h3 {
    font-size: 1.1em;
  }


  .conteudo-cartao {
    max-height: unset;
    padding: 1px 0px;
    line-height: 1.4;
  }


  .conteudo-cartao p {
    margin-top: 15px;
    font-size: 0.95em;
    padding: 0 5px;
  }

  .principais-servicos .container {
    gap: 15px;
  }

  .container .item-um,
  .container .item-dois,
  .container .item-tres {
    width: 300px;
    height: auto;
  }

  .imagem-fiacao,
  .imagem-tomadas-interruptores,
  .imagem-quadros-disjuntores {
    height: 180px;
  }

  .descricao h4 {
    font-size: 1.1rem;
    ;
  }

  .descricao p {
    font-size: 0.95rem;
  }

  .rodape-inferior {
    width: 100%;
    height: auto;
    padding: 60px 40px;
    flex-direction: row;
    align-items: center;
    text-align: center;
  }

  .informações-da-marca {
    margin-bottom: 30px;
  }

  .no-rodape {
    margin-left: 0;
  }

  .rodape-logo img {
    margin: 0px 0px 0px 50px;
    max-width: 150px;
    max-height: 150px;
  }

  .Serviço-Titulo,
  .desc {
    text-align: center;
  }

  .copyright {
    text-align: left;
  }

  .imagem-linha-vertical {
    display: none;
  }

  .Regioes-Atendidas {
    margin-top: 30px;
    margin-bottom: 0;
  }

  .Minhas-redes-sociais {
    margin: 30px 0;
  }

  .icone-social img {
    margin-right: 10px;
  }

}

@media (max-width: 576px) {

  .rodape-superior {
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    height: auto;
    padding: 10px 15px;
    gap: 1px;

  }

  .rodape-superior .logo-superior img {
    margin: 0 auto;
    width: 75px;
    height: auto;
    display: block;
  }

  #logo-superior {
    width: auto;
    display: block;
    text-align: center;
    margin: 0 auto;
  }

  .rodape-links {
    margin: 0 auto;
    flex-direction: row;
    margin: 0;
    padding: 0;
    gap: 10px;
    font-size: 0.70em;
  }

  .nav-link {
    column-gap: 0.2rem;
  }

  .rodape-links a {
    transform: translateY(0);
  }

  .main-banner {
    height: 400px;
  }

  .main-banner .imagem {
    width: 95%;
    min-width: unset;
  }

  .main-banner .imagem h1 {
    font-size: 30px;
  }

  .main-banner .imagem p {
    font-size: 20px;
  }

  .recipiente {
    width: 95%;
    padding: 15px 0;
  }

  .titulo-jornada-profissional {
    font-size: 2em;
    margin-bottom: 30px;
    margin-top: 20px;
  }

  .recipiente-cartao {
    flex-direction: column;
    align-items: center;
  }

  .cartao {
    width: 80%;
    max-width: 340px;
    max-height: 220px;
  }


  .rodape-inferior {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px 15px 20px 15px;
    gap: 20px 0;
  }


  .informações-da-marca {
    flex-basis: 100%;
    text-align: center;
    margin-bottom: 20px;
  }


  .rodape-logo img {
    max-width: 160px;
    margin: 0 auto 10px auto;
  }


  .no-rodape .copyright {
    display: none;
  }


  .rodape-inferior::after {
    content: "© copyright 2025 Eletricafacil. Todos os direitos reservados.";
    display: block;
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #888;
    margin-top: 30px;
    border-top: 1px solid #2a4a60;
    padding-top: 20px;
  }

  .image-linha-vertical1 {
    display: none;
  }

  .Regioes-Atendidas,
  .Minhas-redes-sociais {
    flex: 1;
    min-width: 140px;
    margin: 0;
    padding: 0 5px;
  }

  .Minhas-redes-sociais {
    padding-left: 20px;
  }

  .Regioes-Atendidas h3 {
    font-size: 1.1em;
    margin-bottom: 30px;
  }

  .Minhas-redes-sociais h4 {
    font-size: 1em;
    margin-bottom: 40px;
  }

  .rodape-inferior ul {
    text-align: left;
  }

  .rodape-inferior ul li {
    font-size: 14px;
    margin-bottom: 15px;
  }

  .rodape-inferior ul li img {
    margin-right: 10px;
  }

  .principais-servicos .container {
    flex-direction: column;
    align-items: center;
  }

  .container .item-um,
  .container .item-dois,
  .container .item-tres {
    width: 80%;
    height: auto;
  }

  .imagem-fiacao,
  .imagem-tomadas-interruptores,
  .imagem-quadros-disjuntores {
    height: 180px;
  }

  .input-duplo{
    display: flex;
    flex-direction: column;
  }

  .acoesOrcamento{
    display: flex;
    flex-direction: column;
  }

  .acoes-btns.mostrar{
    flex-direction: column;
  }

  .btn-whatsapp,
  .btn-cancelar{
    width: 100%;
  }
}