:root {
  --primary-color: #133247;
  --secondary-color: #f3ae4b;
  --text-color: #ffffff;
  --bg-form-orcamento: #bdd8f1;
  --bg-form-orcamento-container: #68859c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: #fff;
  overflow-y: auto;
  overflow-x: hidden;
}

.rodape-superior .logo-superior img {
  width: 125px;
  height: 105px;
  display: flex;
  margin-left: 200px;
  justify-content: center;
  align-items: center;
}

.rodape-superior {
  justify-content: space-between;
  background-color: var(--primary-color);
  display: flex;
  color: #fff;
  padding: 0px;
  height: 105px;
  box-sizing: border-box;
}

.rodape-links {
  list-style-type: none;
  display: flex;
  margin-left: 250px;
  margin-right: 300px;
  margin-top: 15px;
  align-items: center;
  gap: 120px;
  color: #ffffff;
  font-size: 1.0em;
  font-weight: bold;
}

.rodape-links a {
  text-decoration: none;
  color: #ffffff;
  position: relative;
  transition: all 0.5s ease;
  transform: translateY(-8px);
}

.rodape-links a:hover {
  color: var(--secondary-color);
  transition: color 0.3s ease;
  border-bottom: 1px solid #ffffff;
  cursor: pointer;
}

.nav-link {
  display: inline-flex;
  column-gap: 0.5rem;
}

.jornada-profissional {
  height: 100vh;
  padding: 20px;
  max-width: 1100px;
  margin: 0 auto;
  ;
}

.titulo-jornada-profissional {
  font-size: 2.5em;
  color: #fd8e0c;
  margin-bottom: 50px;
  text-align: center;
}

.recipiente-cartao {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.cartao {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 340px;
  height: 399px;
  padding: 20px;
  text-align: center;
  transition: transform 0.8s ease;
}

.cartao:hover {
  transform: translateY(-10px);
}

.cabeça-cartao {
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #08456e;
  color: #fff;
  padding: 15px;
  border-radius: 8px 8px 0 0;
  margin: -20px -20px 20px -20px;
}

.cabeça-cartao .icon {
  font-size: 1.5em;
}

.cartao h3 {
  font-size: 1.2em;
  color: #ffffff;
  margin: 0;
}

.form-orcamento {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--bg-form-orcamento);
}

.form-orcamento h2 {
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
  margin-right: 200px;
  font-size: 56px;
  font-weight: bold;
}

.form-orcamento-container {
  background-color: var(--bg-form-orcamento-container);
  width: 633px;
  height: 708px;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.form-grupo {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  display: block;
  color: var(--text-color);
  margin-bottom: 5px;
  font-size: 14px;
}

.form-grupo input,
.form-grupo select {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  color: #000;
  font-size: 16px;
}

.form-grupo input[type="tel"] {
  width: 50%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  color: #000;
  font-size: 16px;
}

.form-grupo textarea {
  height: 125px;
  width: 391px;
  resize: vertical;
}

.rodape-inferior {
  background-color: var(--primary-color);
  height: 444px;
  width: 2000px;
  display: flex;
  align-items: center;
  padding: 15px 0;
}

.imagem-logo img {
  width: 189.09px;
  height: 160.59px;
  display: flex;
  margin-left: 115px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

@media (max-width: 768px) {
  .rodape {
    background-color: var(--primary-color);
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .rodape .logo img {
    margin-left: 0;
    margin-right: 0;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
  }

  .rodape-links {
    flex-direction: column;
    gap: 10px;
    margin-left: 0px;
    margin-right: 2px;
    margin-top: 1px;
    transition: all 0.8s ease;
  }

  .rodape-links a {
    font-size: 15px;
    margin-bottom: 10px;
  }

  .recipiente-cartao {
    flex-direction: column;
    align-items: center;
  }

  .cartao {
    width: 90%;
    max-width: 340px;
    max-height: 220px;
  }
}